.backgroundLogin {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/assets/slide.png');
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

ion-input {
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin-bottom: 12px;
}

ion-button {
  margin-top: 12px;
  --border-radius: 15px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  margin-bottom: 20px;
}

.logo {
  width: 125px;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

ion-input[type="email"],
ion-input[type="password"] {
  width: 80%;
  margin: auto;
  --highlight-color: #Ffffff;
  color: #Ffffff;
  font-size: large;
}

ion-button {
  --highlight-color: blue;
  margin-left: 9%;
}

.google-logo {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.password-container {
  position: relative;
  width: 80%; /* Matches the width of the input fields */
  margin: auto;
}

.forgot-password {
  position: absolute;
  right: 0;
  top: 70%; /* Centers the text vertically between the input and button */
  transform: translateY(-50%);
  color: lightgray;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 10px; /* Add some space above the login button */
}
