/* Add padding to IonContent to ensure content is pushed down */
.settings-content {
  --padding-top: 72px; /* Adjust this value to ensure it's below the header */
}

/* Style the header */
ion-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff; /* Ensure header background is visible */
}

/* Add some padding to the toolbar to position the title and back button */
ion-toolbar {
  padding: 0 16px;
  --background: #fff; /* Ensure toolbar background is visible */
}

/* Style the buttons in the toolbar */
ion-buttons {
  display: flex;
  align-items: center;
}

/* Style the title to be centered */
ion-title {
  flex: 1;
  text-align: center;
}

.profile-item {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.profile-item ion-avatar {
  margin-right: 16px;
}

.profile-item ion-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.profile-item p {
  margin: 0;
}

/* Ensure that profile section is not highlighted when clicked */
.profile-item.activated {
  background-color: transparent;
  box-shadow: none;
}

/* Style the menu buttons */
.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px auto;
  padding: 12px;
  border-radius: 15px;
  background: linear-gradient(135deg, #bdecff, #6bc8ee);
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 32px); /* Ensure the items take full width with some padding */
}

/* Add hover effect for the menu buttons */
.menu-button:hover {
  background-color: #e0e0e0;
}

/* Style the icon inside the button */
.icon-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Style the profile card */
.profile-card {
  margin: 16px;
}

/* Style the profile content */
.profile-content {
  display: flex;
  align-items: center;
}

/* Style the profile picture */
.profile-content ion-avatar {
  margin-right: 16px;
}

/* Style the profile info */
.profile-content ion-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style the email */
.profile-content p {
  margin: 0;
}

/* Settings page background gradient */
ion-content.settings-content {
  --background: linear-gradient(to bottom, #ffffff, #bdecff) !important;
}

