.legend-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between cards */
}

.legend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Add padding to the card to ensure content doesn't touch the edges */
  box-sizing: border-box; /* Ensure padding is included in the width and height calculations */
  width: 100%; /* Make card take full width */
  max-width: 400px; /* Optional: Set a max-width to cards for better appearance on large screens */
  margin: 0 auto; /* Center the card horizontally */
}

.legend-title {
  font-size: 14px; /* Adjust font size for title */
  margin-bottom: 5px; /* Space between title and content */
}

.legend-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.legend-icon {
  width: 50px; /* Ensure the icon fits well within the card */
  height: auto; /* Maintain aspect ratio */
}
